
@import url(http://fonts.googleapis.com/css?family=Share+Tech);

@font-face {
    font-family: 'ceva';
    src: url('../fonts/ceva-c2-webfont.eot');
    src: url('../fonts/ceva-c2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ceva-c2-webfont.woff') format('woff'),
         url('../fonts/ceva-c2-webfont.ttf') format('truetype'),
         url('../fonts/ceva-c2-webfont.svg#cevaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {

}

body {
font-family: 'Source sans pro', sans-serif;
background-image: url(../img/bg_cross.png);
background-repeat: repeat;
color: #e6e6e6;
font-family: 'Share Tech', sans-serif;
font-size: 1.8em;
<<<<<<< HEAD
padding: 0 40px;
=======
padding: 10px;
>>>>>>> master
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Share Tech', sans-serif;
}

h1 {

}

h2 {

}

h3, h4, h5 {
	color:#8e9fa5;
}

.heads {
	margin-left: 10px;
}

p{
	color:#8e9fa5;
}

p.text_orange {
	color:#FF9900;
}

ul {}

ul li {color:#8e9fa5;}

ul.kill {
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	padding: 0px;
}

.containerbox {
    padding: 20px;
}

.purple {

    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 51);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 51, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}

/*crew list*/

ul.list_purple {

}

ul.list_purple li{
    padding: 20px;
}

ul.list_purple li:hover{
    background-color: rgba(0, 0, 51, 0.6);
    color: #fff;
}

ul.list_purple li span{
    display: inline-block;
}

span.status { width: 20px; height:20px; margin-left: 0px;}
span.name { min-width: 140px; padding-left: 40px;}
span.mail { min-width: 140px;}
span.topics { float:right;}
span.online { background-image: url(../img/status_online.png); background-repeat: no-repeat;}
span.offline { background-image: url(../img/status_offline.png); background-repeat: no-repeat;}


.crew_search {
    margin: 20px;
}

.red {
	color: red;
}

.stage {
	height: 300px;
	margin-top:100px; 
}

.navbar {
	background-color: #29abe2;
	background-opacity:0.2;
	border: 0px solid;
	font-family: 'Share Tech', sans-serif;
	color: #fff;

}


.navbar-header {
	
}

.navbar-default a.navbar-brand {
	color:#fff;
}
.navbar-default a.navbar-brand:hover {
	color:#FF9900;
}


.navbar-default .navbar-nav>li>a {color: rgba(70, 182, 238, 0.5);}
.navbar-default .navbar-nav>li>a:active {color:#8e9fa5;}
.navbar-default .navbar-nav>li>a:hover {color:#46b6ee; border-bottom:2px solid #46b6ee;}
.navbar-default .navbar-nav>li>a:visited {}



.navbar-default .navbar-nav>.active>a {
	color: #fff;
	border-bottom:2px solid #46b6ee;

	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(70, 182, 238);
    /* RGBa with 0.6 opacity */
    background-color: rgba(70, 182, 238, 0.2);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #46b6ee;
	color:#000;
}

.navbar-header a:hover {
	color:#FF9900;
}


.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(70, 182, 238);
    /* RGBa with 0.6 opacity */
    background-color: rgba(70, 182, 238, 0.2);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.alphaw {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


.ceva {
	font-family: "ceva"
}
.cbase {
	font-size: 2em;
}

.c_tatus {
		padding: 20px 15px;
		margin-bottom: 20px;
}

.styelb {
		background-image: url(../img/border_V.png);
		background-repeat: repeat-x;
		background-position: top;
}

.infoboxen {
	margin: 30px 0 30px 0;
}

.calendar {
	border: 2px solid #46b6ee;
	padding: 20px 15px;
	margin-top: 10px;
}

.internal_calendar {
	background-color: #fff;
	padding: 20px 15px;
}

.cevawatch {

}
.cevatime {
	font-family: ceva;
	font-size: 6em;
}

/*passwort formfield kram*/


.setPINfield {
	margin-top: 30px;
}

/*  */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}
.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	25%, 75% {opacity: 0;}
}

@-moz-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-o-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

.flash {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
}


/* fancy base */

.rotating-base .rotating-img {
            background-size: 100% auto;
            position: fixed;
            z-index: -1;
            top: 50%;
            left: 50%;
            width: 1280px;
            height: 1280px;
            margin:-640px 0 0 -640px;
        }

        .rotating-base .c-base-outline {
            background-image: url(../images/base_index_01.png);
            -webkit-animation:spin-base 300s linear infinite;
            -moz-animation:spin-base 300s linear infinite;
            animation:spin-base 300s linear infinite;
        }

        .rotating-base .logo-spikes1 {
            background-image: url(../images/base_index_02.png);
            -webkit-animation:spin2 170s linear infinite;
            -moz-animation:spin2 170s linear infinite;
            animation:spin2 170s linear infinite;
        }

        .rotating-base .logo-spikes2 {
            background-image: url(../images/base_index_03.png);
            -webkit-animation:spin3 60s linear infinite;
            -moz-animation:spin3 60s linear infinite;
            animation:spin3 60s linear infinite;
        }

        @-moz-keyframes spin-base {
            100% {
                -moz-transform: rotate(360deg);
            }
        }
        @-webkit-keyframes spin-base {
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes spin-base {
            100% {
                -webkit-transform: rotate(360deg);
                transform:rotate(360deg);
            }
        }

        @-moz-keyframes spin2 {
            100% {
                -moz-transform: rotate(-360deg);
            }
        }
        @-webkit-keyframes spin2 {
            100% {
                -webkit-transform: rotate(-360deg);
            }
        }
        @keyframes spin2 {
            100% {
                -webkit-transform: rotate(-360deg);
                transform:rotate(-360deg);
            }
        }

        @-moz-keyframes spin3 {
            100% {-moz-transform: rotate(360deg);}
        }
        @-webkit-keyframes spin3 {
            100% {-webkit-transform: rotate(360deg);} 
        }
        @keyframes spin3 {
            100% {
                -webkit-transform: rotate(360deg);
                transform:rotate(360deg);
            }
        }		 
}


@media (min-width: 767px) { 

body {
	padding: 30px;
}

}
